$mapColores:(colorHeaderFooters:#39393a, colorBodys:#F5F5F5, lineaFooters:#b78c33);

@each $colores, $color in $mapColores {
    .#{$colores}{
        color: $color;
    }
}

$estilo:(color: white,tamFuente:20px,alturaCard:430px,);



@mixin parrafo ($fuente, $margen, $textoCentrado) {
    font-weight: $fuente;
    margin: $margen;
    text-align: $textoCentrado;
}

//este en _producto .marcoProducto p