* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* --------------------------------------PAGINA PRINCIPAL index-------------------------------------- */
body {
    background-color: $colorBody;
}


/* -----------------------------------------termina baner----------------------------------------------------- */

.imagenesCentrales {
    text-align: center;
    background-color:$colorHeaderFooter;
}

/* Boton de whatssap */
.botonWhatsApp img{
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} 

.row {
    text-align: center;
    font-family: Roboto;
    width: 100%;
    /* color: white; */
}

.descripcion {
    background-color: rgb(231, 231, 231);
}

.container1 p {
    color: white;
}





/* -------------------------cards Productos-------- */
//.card {
//    border: 1px rgb(160, 159, 159) solid;
//    border-radius: 15px;
//    box-shadow: 2px 2px 10px rgb(70, 69, 69);
//}

