* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}


body {
    background-color: $colorBody;
}


h2{
    font-family: roboto;
    font-weight: bold;    
}



.imagenesCentrales {
    text-align: center;
    background-color:$colorHeaderFooter;
}

/* Boton de whatssap */
.botonWhatsApp img{
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} 

.row {
    text-align: center;
    font-family: Roboto;
    width: 100%;
    /* color: white; */
}

.descripcion {
    background-color: rgb(231, 231, 231);
}

.container1 p {
    color: white;
}



