
//color del body
$colorBody: #F5F5F5;

//linea que empieza cuand oempieza el footer
$lineaFooter: #b78c33; 

//color del footer y header
$colorHeaderFooter: #39393a;

//alto de contenedor de productos donde va la foto
$heightProductoImg: 40%;

//alto de contenedor de productos donde va el texto
$heightProductoTexto: 60%;